// .container{
//     background: #2A363F;
// }
.wrapper{  
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #2A363F;
}
.child {
    width: 40%;

    .admin{
        position: relative;
        &-title{
            text-align: center;
            color: #6ED9A0;
        }
        &-img{
            position: relative;
            left:33%;
            width: 200px;
        }   
    }
    form{
        margin: 0;
    }

 }
 label, input{
     display: block;
    width: 40%;
    padding: 10px;
}
 

